
body{
    background-color: burlywood;
    text-align: center;
    color: brown;
}




.home{
    text-decoration: none;
    padding-right: 50px;
    padding-left: 0px;
    background-color: bisque;
    color: darksalmon;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
}
.home:hover{
    background-color: rgb(183, 126, 103);
    color: brown;
}

.pinkie{
    padding-top: 50px;
}

.aboutme{
    text-decoration: none;
    background-color: bisque;
    color: darksalmon;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
}

.aboutme:hover{
    background-color: rgb(183, 126, 103);
    color: brown;
}

h1{
    text-shadow: rgb(152, 121, 0) 1px 0 10px;
    color: rgb(235, 210, 48);
    
}

h3{
    padding-right: 150px;
    padding-left: 150px;
    color: rgb(237, 67, 135);
}